body {
  background-color: rgb(43, 43, 43);
  color: azure;
  background: url(../images/ronan-furuta-0xOG0Df1Re4-unsplash.jpg) no-repeat
    center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.card {
  min-height: 200px;
  background-color: rgb(34, 65, 53);
  /* border: 5px solid azure; */
}

nav li {
  display: inline;
  margin: 15px;
}

footer li {
  display: inline;
  margin: 15px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(34, 65, 53);
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(34, 65, 53);
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

#brews {
  background-image: url("../images/Screen\ Shot\ 2021-11-22\ at\ 6.59.20\ PM.png");
  background-position: center;
  object-fit: contain;
  background-blend-mode: hard-light;
}

#weather {
  background-image: url("../images/weather-screenshot.png");
  background-position: center;
  background-blend-mode: hard-light;
}

#quiz {
  background-image: url("../images/quiz-screenshot.png");
  background-position: center;
  background-blend-mode: hard-light;
}

img {
  height: 250px;
  object-fit: contain;
  background-position: center;
  margin: 10px;
}

.card a {
  color: azure;
  display: block;
}

a {
  color: azure;
}

footer li {
  display: inline;
  margin: 15px;
}

/* https://bit.ly/elliscj-portfolio */
/* https://www.linkedin.com/in/cameronje/ */
